/* Small Devices, Tablets */
@media (max-width: 991px) {
  .container{
    width: initial;
  }
}

/*
    Gallery used for Forums
 */
.lightBoxGallery{

}

.lightBoxGallery > a{
  position:relative;
  margin-bottom:20px;
  margin-right:10px;
  display: inline-block;
}

.lightBoxGallery > a > img{
  width: 150px;
  height: 150px;
  margin: 0;
}

.lightBoxGallery > a > span {
  position:absolute;
  bottom:0;
  left:0;
  background:#000;
  color:#fff;
  width:100%;
  margin:0;
  opacity: 0.7;
  text-align: center;
}

/*
    PREVIEW PAGES
 */

.header-cover{
  min-height: 350px;

  background-position: center;
  background-size: cover;
}

.header-cover-layover{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header-cover-description {
  margin-top: 80px;
}

.header-cover-description > div > img {
  max-width: 128px;
  max-height: 128px;

  float: left;
}

.header-cover-description > div > .row {
  display: inline;
}

.header-cover-description > div > .row > h1{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.header-cover-description > div > .row > h2{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
}

@media (max-width: 768px) {
  .header-cover-description {
    margin-top: 80px;
  }
}

.header-cover-toolbar{

}

.header-cover-toolbar-label {
  cursor: pointer;
  display: inline-block;
}
.header-cover-toolbar-label >span {
  margin-left: $line-height-computed;
}


/*
    BOOTSTRAP MODAL BUG FIX https://github.com/twbs/bootstrap/issues/14040
 */

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  padding-right: 17px;
}

/*
  TO SUPPORT FULL WIDTH DIVS
 */


.top-navigation .wrapper.wrapper-content {
  padding: 0;
}



/*
    FILE UPLOAD DROP ZONE
 */



div.filepicker {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  min-height: 60px;

  background-color: #f9f9f9;
  border: 2px dashed #aca9f7;
}

/* Icon */
.filepicker-file-icon
{
  position: relative;

  display: inline-block;

  margin: 1.5em 0 2.5em 0;
  padding-left: 45px;

  color: black;
}
.filepicker-file-icon::before
{
  position: absolute;
  top: -7px;
  left: 0;

  width: 29px;
  height: 34px;

  content: '';

  border: solid 2px #7F7F7F;
  border-radius: 2px;
}
.filepicker-file-icon::after
{
  font-size: 11px;
  line-height: 1.3;

  position: absolute;
  top: 9px;
  left: -4px;

  padding: 0 2px;

  content: 'file';
  content: attr(data-filetype);
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #fff;
  background-color: #000;
}
.filepicker-file-icon .fileCorner
{
  position: absolute;
  top: -7px;
  left: 22px;

  width: 0;
  height: 0;

  border-width: 11px 0 0 11px;
  border-style: solid;
  border-color: white transparent transparent #920035;
}

.dz-success-mark{
  width: 44%;
  height: 0px;
  padding-bottom: 44%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: goldenrod;
}

.dz-error-mark{
  width: 44%;
  height: 0px;
  padding-bottom: 44%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: darkred;
}

.dz-error-message{
  margin-top:20px;
}

/*

 */
